DJANGO_DEBUG=True
DJANGO_SECRET_KEY=solo-desarrollo-reemplazar-localmente
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=sia_dev
POSTGRES_USER=sia_user
POSTGRES_PASSWORD=solo-desarrollo-reemplazar-localmente
POSTGRES_HOST=db
POSTGRES_PORT=5432
